h1{
  text-align: center;
  color: blueviolet;
  font-size: 3em;
}
h2{
  text-align: center;
  font-size: 2rem;
}
.btn{
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 2px solid black;
  margin: 20px;
}
.btn-container{
  display: flex;
  justify-content: center;
}
.red{
  background-color: rgb(205, 158, 158);
}
.green{
  background-color: rgb(157, 206, 157);
}
.yellow{
  background-color: rgb(207, 207, 164);
}
.blue{
  background-color: rgb(157, 157, 206);
}
.flash{
  background-color: white;
}